body {
    padding: 30px;
}

.none {
    display: none;
}

.start {
    margin-top: 20px;
}

#start img {
    width: 50%;
}

h1 {
    font-family: 'Vollkorn', serif;
    font-size: 50px;
}

/* -----quizz----------- */
.content .time img {
    width: 20%;
}

.quiz {
    width: 800px;
    height: 400px;
    border: 1px solid #000000;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 9px #ccc;
}

.quiz .quiz-item ul li {
    list-style-type: none;
    text-align: left;
    font-family: 'Time new roment';
    font-size: 20px;
    padding: 3px;
}

.quiz .quiz-item ul li.list-ans:hover {
    background-color: #cccccc;
}

.quiz .quiz-item button {
    margin: 5px;
}

.quiz .quiz-item .list-ans label{
    width: 600px;
    padding: 3px;

}

.quiz li.correct{
    border: 1px solid red;
    border-radius: 10px;
}